<nav class="site-nav">
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/workshop-overview.html">Workshop Overview</a></li>
    <li><a href="{{ site.baseurl }}/challenge1.html">Challenge 1</a></li>
    <li><a href="{{ site.baseurl }}/challenge2.html">Challenge 2</a></li>
    <li><a href="{{ site.baseurl }}/challenge3.html">Challenge 3</a></li>
    <li><a href="{{ site.baseurl }}/challenge4.html">Challenge 4</a></li>
    <li><a href="{{ site.baseurl }}/challenge5.html">Challenge 5</a></li>
    <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>
  </ul>
</nav>